<p>Hello,</p>

<p>
Trade Tariff stumbled upon invalid CHIEF operation.
</p>

<h3>Operation:</h3>

<pre>
  <%= @operation.inspect %>
</pre>

<h3>Model:</h3>

<pre>
  <%= @model.inspect %>
</pre>

<h3>Errors:</h3>

<pre>
  <%= @errors.inspect %>
</pre>

<p>
  The operation was not marked as processed. Either fix it or remove the operation entry to not receive this letter again.
</p>
